@mixin white-container {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    padding: 1em;
    border-radius: 1em;
}

@mixin gray-container {
    box-sizing: border-box;
    width: 100%;
    background: var(--bright-container);
    border-radius: 1em;
    padding: 0.7em 1em;
    transition: background 0.1s;

    &:hover {
        background: var(--dark-container);
    }
}

@mixin image-thumbnail {
    margin-right: 1em;
    border-radius: 0.5em;
    height: 3.75rem;
    width: 3.75rem;
    background-position: left;
    background-size: cover;
}

@mixin icon-hover {
    cursor: pointer;
    transition: transform 0.1s;

    &:hover {
        transform: scale(1.1);
    }
}

@mixin mobile-breakpoint {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin spinner-animation {
    animation: mulShdSpin 1.3s infinite linear;

    @keyframes mulShdSpin {
        0%,
        100% {
            box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
                -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
        }
        12.5% {
            box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
                -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
        }
        25% {
            box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em,
                -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
        }
        37.5% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
                -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
        }
        50% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
                -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
        }
        62.5% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
                -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
        }
        75% {
            box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
                0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
        }
        87.5% {
            box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
                -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
        }
    }
}
