.all-fruits {
    overflow: hidden;
    padding-right: 0;

    &__header {
        position: sticky;
        z-index: 5;
        background: #fff;
        text-align: center;
        padding-bottom: 1em;
    }

    &__sort,
    &__confirm {
        cursor: pointer;
        display: inline-block;
        transition: transform 0.1s;

        &-icon {
            vertical-align: bottom;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    &__list {
        position: relative;
        z-index: 1;
        max-height: 25rem;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }

    &__footer {
        width: 100%;
        position: sticky;
        z-index: 5;
        background: #fff;
        padding: 2em 0 1em 0;
        text-align: center;
    }
}
