@use "../abstracts/mixins";

.calculator {
    margin-top: 2em;

    &__container {
        @include mixins.white-container;
        margin-top: 1.5em;
        padding-top: 2em;
        overflow: hidden;
    }

    &__header {
        position: sticky;
        z-index: 5;
        text-align: center;
    }

    &__macronutrients {
        margin: 1em 0 1.5em 0;
        display: flex;
        justify-content: center;
    }

    &__macronutrients > div {
        text-align: center;
        padding: 0 2em;
    }

    &__proteins,
    &__fats {
        border-right: solid 1px var(--dark-container);
    }

    &__items {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        max-height: 25rem;
        overflow-x: auto;
    }

    &__item {
        @include mixins.gray-container;
        display: flex;

        &-image {
            @include mixins.image-thumbnail;
        }

        &-action {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 4em;
        }

        &-icons {
            display: flex;
            justify-content: space-between;
        }

        &-icon {
            @include mixins.icon-hover;
        }

        input {
            height: 1.5em;
            border: none;
            text-align: center;
            border-radius: 0.2em;

            &::placeholder {
                text-align: center;
            }
        }
    }

    &__btns > button {
        align-items: center;
        display: flex;
        cursor: pointer;
        transition: transform 0.1s;

        &:hover {
            transform: scale(1.03);
        }
    }

    &__btns {
        position: sticky;
        z-index: 5;
        display: flex;
        column-gap: 1em;
        justify-content: space-between;
        padding-top: 1.5em;

        &-favourites {
            background: var(--bright-pink);
        }

        &-calculate {
            background: var(--dark-pink);
        }

        &-icon {
            margin-left: 0.5em;
        }
    }
}
