div[class*="dropdown"] {
    background: #fff;
    position: absolute;
    margin-top: 0.5em;
    width: 15em;
    padding: 0.5em 0;
    border-radius: 0.5em;
    border: 1px solid var(--dark-container);
    left: 26%;
}

div[class*="dropdown"] > p {
    display: flex;
    justify-content: center;
    column-gap: 0.5em;
    cursor: pointer;
    padding: 0.2em 0;

    &:hover {
        background: #f4f4f4;
    }
}
