@use "../abstracts/mixins";

.loader,
.search-loader {
    margin: auto;
    color: var(--dark-pink);
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    @include mixins.spinner-animation;
    transform: translateZ(0);
}

.search-loader {
    margin: 3em auto;
}
